/* PERSONAL HOMEPAGE */



/* COLOR VARIABLES
----------------------------------------------- */
:root {
  --dark: #000000;
  --light: #FFFFFF;
  --mid: #CCCCCC;
}


/* BASE STYLES
----------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  color: #EBEDD5;
  font-size: 12px;
  font-family: 'Bitter', serif;
}

img {
  max-width: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  max-height: 100%;
}


/* TYPOGRAPHY
----------------------------------------------- */


 a {
  color: white;
  text-decoration: none;
 }

a:hover {
          color: #FFFBAA;
          transiton:  1s ease;
      }

/* HEADER
----------------------------------------------- */
header {

}


/* MAIN
----------------------------------------------- */
main {
  padding: 80px 0 0px 0;
  background-image: url("images/starsbg.gif");
  border: 1px solid red; 
  height: 100%;
}

h1 {
  margin-left: 80px;
  font-size: 50px;
  font-weight: 500;
}

p {
  grid-area: 1 / 1 / span 1 / span 2;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  margin-left: 80px;
  margin-right: 25%;

}

.instructions {
  animation: fadein 6s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 3s;

}

/*

@keyframes fadein {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

*/

.grid {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: auto;
  max-height: 1fr;
}

.moon {
  grid-area: 1 / 3 / span 1 / span 1;
  width: 40%;
  position: relative;
  top: 0;
  left: 0;
}

.overlaymoon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s ease;
}

.moon:hover .overlaymoon {
  opacity: 1;
  transition: 1s ease;
}

.house { 
  grid-area: 2 / 1 / span 1 / span 1;
  width: 70%;
  margin-left: auto;
  position: relative;
  transform: translateY(70px);
}

.overlayhouse {
  position: absolute;
    z-index: 2;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 1s ease;
}

.house:hover .overlayhouse {
opacity: 1;
  transition: 1s ease;
}

.girl {
  grid-area: 3 / 2 / span 1 / span 1;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
}

/* 

.overlaygirl {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s ease;
}

.girl:hover .overlaygirl {
  opacity: 1;
  transition: 1s ease;
}

.girl:hover .girlneutral {
  opacity: 0;
  transition: 1s ease;
}

*/

.grass {
  grid-area: 3 / 1 / span 1 / span 3;
  height: 400px;
  background-color: #113427;
  background-image: url("images/grass.png");
  background-size: 200px;

}

.starsgrid {
  z-index: -1;
  margin-left: 80px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  max-height: 1fr;
}


/* FOOTER
----------------------------------------------- */
footer {

}

hr {
  height: 500px;
}



/* MEDIA QUERIES
----------------------------------------------- */

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

h1 {
  font-size: 35px;
}

p {
  grid-area: 1 / 1 / span 1 / span 1;
  margin-right: -100px;
}


.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.moon {
  grid-area: 1 / 2 / span 1 / span 1;
  width: 30%;
  display: block;
  margin-left: auto;
  position: relative;
  margin-right: 80px;
}


.house { 
  grid-area: 2 / 1 / span 1 / span 1;
  width: 70%;
   display: block;
  margin-left: auto;
  margin-right: auto;
}

.girl {
  grid-area: 3 / 1 / span 1 / span 2;
  width: 23%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}


/* Mobile */
@media (max-width: 767px) {


  h1 {
    font-size: 25px;
  }

  p {
  grid-area: 1 / 1 / span 1 / span 1;
  font-size: 14px;
  margin-right: 250px;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  max-height: 1fr;
}

.moon {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 16%;
  display: block;
  margin-left: auto;
  position: relative;
 transform: translateX(-80px);
}


.house { 
  grid-area: 2 / 1 / span 1 / span 1;
  width: 45%;
  margin-left: 40px;
  position: relative;
}

.girl {
  grid-area: 3 / 1 / span 1 / span 1;
  width: 26%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}








